<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
   
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/autocomplete.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highcharts-3.0.1/js/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highcharts-3.0.1/js/themes/gray.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highcstock.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/try.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/themes/gray.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/listCollapse.js")" type="text/javascript"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="wrapper">
                <div id="header">
                    <h1>Market Changes</h1>
                </div>
            </div>
            <div class="wrapper">
                <div id="right-side">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Company Info", "CompanyInfo", "Home")</li>
                            <li>@Html.ActionLink("Categories", "Categories", "Home")</li>
                            <li>@Html.ActionLink("Favorites", "Favorites", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div id="sidebar">
        @RenderSection("sidebar", required: false)       
    </div>

    <div id="content">
        @RenderBody()
    </div>

    <div id="footer">
        <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
